<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Monitor
      </ion-title>
      <ion-avatar slot="end" id="click-trigger" (click)="onDoSomething()">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-content class="ion-padding">Hello World!</ion-content>
        </ng-template>
      </ion-popover>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>